<% if (page.prev){ %>
<a class="float-left gradient btn paginationbtn" href="<%- config.root %><%- page.prev_link %>"><i class="fas fa-chevron-left"></i></a>
<% } %>
<% if (page.next){ %>
<a class="float-right gradient btn paginationbtn" href="<%- config.root %><%- page.next_link %>"><i class="fas fa-chevron-right"></i></a>
<% } %>