   <nav class="navbar fixed-top navbar-expand-lg navbar-dark page-navbar gradient">
      <div class="container">
        <a class="navbar-brand logo" href="#">My CV</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item item">
                <li class="nav-item item">
                  <a class="nav-link" href="#work-experience">Work Experience</a>
                </li>
                <li class="nav-item item">
                    <a class="nav-link" href="#education">Education</a>
                </li>
                <li class="nav-item item">
                  <a class="nav-link" href="#skills">Skills</a>
                </li>
                <li class="nav-item item">
                    <a class="nav-link" href="#hobbies">Hobbies</a>
                </li>
              </li>
            </ul>
          </div>
          <a href="https://tutorialzine.com/2018/04/freebie-beautiful-cv-template-with-bootstrap" class="btn btn-danger download-template" role="button" aria-disabled="true">Download</a>
      </div>
    </nav>